<angular-carousel [duration]="2500" [auto]="true" [infinite]="true">
    <div *angularCarouselSlide>
        <div class="carousel-inner relative w-full overflow-hidden mt-10">
            <div class="carousel-item active relative float-left w-full">
                <img src="https://i.ibb.co/803QsHc/patrick-hendry-jd0h-S7-Vhn-A-unsplash.jpg" class="block w-full"
                    alt="..." />
                <div class="carousel-caption hidden md:block absolute text-center">
                    <h5 class="text-xl text-slate-900">Vive increíbles momentos junto a tu mascota</h5>
                    <p>Vive saludablemente con tus compañeros peludos</p>
                </div>
            </div>
        </div>
    </div>
    <div *angularCarouselSlide>
        <div class="carousel-inner relative w-full overflow-hidden">
            <div class="carousel-item active relative float-left w-full mt-10">
                <img src="https://i.ibb.co/3CBSksM/patrick-hendry-1-MO9-VGUC138-unsplash.jpg" class="block w-full"
                    alt="..." />
                <div class="carousel-caption hidden md:block absolute text-center">
                    <h5 class="text-xl">First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
    </div>
    <div *angularCarouselSlide>
        <div class="carousel-inner relative w-full overflow-hidden">
            <div class="carousel-item active relative float-left w-full mt-10">
                <img src="https://i.ibb.co/kMcPBDz/dan-barrett-0-Eh-Fkz-Iinlk-unsplash.jpg" class="block w-full"
                    alt="..." />
                <div class="carousel-caption hidden md:block absolute text-center">
                    <h5 class="text-xl">First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
    </div>
</angular-carousel>